<!DOCTYPE html>
<nav>
    <ul>
      <li><a href="/people">People</a></li>
      <li><a href="/person/add">Add Person</a></li>
      <li><a href="/posts">Post</a></li>
      <li><a href="/post/add">Add Post</a></li>
    </ul>
  </nav>
