<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>People List</title>
</head>
<body>
  <h1>People List</h1>
  <ul>
    <% people.forEach(person => { %>
      <li><a href="/people/<%= person.id %>"><%= person.name %>; <%= person.email %>, <%= person.age %></a></li>
    <% }); %>
  </ul>
</body>
</html>