<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Post List</title>
</head>
<body>
  <h1>Post List</h1>
  <ul>
    <% post.forEach(item => { %>
      <li><a href="/posts/<%= item.id %>"><%= item.name %>; <%= item.category %>, <%= item.content %> </a></li>
    <% }); %>
  </ul>
</body>
</html>